<!-- ::header:: -->
<%- include('../parsials/header.ejs') %>
<%- include('../parsials/nav.ejs')%>
<body class="sticky-navigation shadow-layout light-header">

<dev id="main"> 
    <%- include('../parsials/navBar.ejs')%>
    <!-- begin::main-content -->
    <main class="main-content">

        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>Blank Page</h4>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Content Title</h5>
                            <p>
                                underconstruction ...
                            </p>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </main>
    <!-- end::main-content -->
</div>
<%- include('../parsials/footer.ejs') %>
</body>