<!-- ::header:: -->
<%- include('../parsials/header.ejs') %>
<%- include('../parsials/nav.ejs')%>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<body class="sticky-navigation shadow-layout light-header">

<dev id="main"> 
    <%- include('../parsials/navBar.ejs')%>
    <!-- begin::main-content -->
    <main class="main-content">

        <div class="container">
            <div id="vdo-grid"></div>
           
        </div>

    </main>
    <!-- end::main-content -->
</div>

<script src="/assets/js/meeting.js"></script>

<%- include('../parsials/footer.ejs') %>
</body>