.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0.75rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 0.6875rem;
  border-top-right-radius: 0.6875rem;
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 0.6875rem;
  border-bottom-left-radius: 0.6875rem;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.3125rem;
}
.card-title {
  margin-bottom: 1.3125rem;
}
.card-subtitle {
  margin-top: -0.65625rem;
  margin-bottom: 0;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.3125rem;
}
.card-header {
  padding: 1.3125rem 1.3125rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7);
}
.card-header:first-child {
  border-radius: 0.6875rem 0.6875rem 0 0;
}
.card-footer {
  padding: 1.3125rem 1.3125rem;
  background-color: #fff;
  border-top: 0.0625rem solid rgba(231, 234, 243, 0.7);
}
.card-footer:last-child {
  border-radius: 0 0 0.6875rem 0.6875rem;
}
.card-header-tabs {
  margin-right: -0.65625rem;
  margin-bottom: -1.3125rem;
  margin-left: -0.65625rem;
  border-bottom: 0;
}
.card-header-pills {
  margin-right: -0.65625rem;
  margin-left: -0.65625rem;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: 0.6875rem;
}
.card-img,
.card-img-bottom,
.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: 0.6875rem;
  border-top-right-radius: 0.6875rem;
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.6875rem;
  border-bottom-left-radius: 0.6875rem;
}
.card-deck .card {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}
.card-group > .card {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}
.card-columns .card {
  margin-bottom: 1.3125rem;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.accordion {
  overflow-anchor: none;
}
.accordion > .card {
  overflow: hidden;
}
.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -0.0625rem;
}

.card > .profile-cover,
.card > .profile-cover .profile-cover-img,
.card > .profile-cover .profile-cover-img-wrapper {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card > .card-header ~ .profile-cover,
.card > .card-header ~ .profile-cover .profile-cover-img,
.card > .card-header ~ .profile-cover .profile-cover-img-wrapper {
  border-radius: 0;
}

.profile-cover {
  position: relative;
  height: 7.5rem;
  padding: 1.75rem 2rem;
  border-radius: 0.75rem;
}
.profile-cover-content {
  position: relative;
  z-index: 1;
}
.profile-cover-img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 7.5rem;
  background-color: #e7eaf3;
  border-radius: 0.75rem;
}
.profile-cover-img {
  width: 100%;
  height: 7.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.75rem;
}
.profile-cover-avatar {
  display: -ms-flexbox;
  display: flex;
  margin: -6.3rem auto 0.5rem auto;
}
.profile-cover-content {
  padding: 1rem 2rem;
}
.profile-cover-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 992px) {
  .profile-cover {
    height: 10rem;
  }
  .profile-cover-img-wrapper {
    height: 10rem;
  }
  .profile-cover-img {
    height: 10rem;
  }
}

.avatar-primary .avatar-initials {
  color: #fff;
  background-color: #377dff;
}
.avatar-status-primary {
  color: #fff;
  background-color: #377dff;
}
.avatar-secondary .avatar-initials {
  color: #fff;
  background-color: #71869d;
}
.avatar-status-secondary {
  color: #fff;
  background-color: #71869d;
}
.avatar-success .avatar-initials {
  color: #fff;
  background-color: #00c9a7;
}
.avatar-status-success {
  color: #fff;
  background-color: #00c9a7;
}
.avatar-info .avatar-initials {
  color: #fff;
  background-color: #00c9db;
}
.avatar-status-info {
  color: #fff;
  background-color: #00c9db;
}
.avatar-warning .avatar-initials {
  color: #1e2022;
  background-color: #f5ca99;
}
.avatar-status-warning {
  color: #1e2022;
  background-color: #f5ca99;
}
.avatar-danger .avatar-initials {
  color: #fff;
  background-color: #ed4c78;
}
.avatar-status-danger {
  color: #fff;
  background-color: #ed4c78;
}
.avatar-light .avatar-initials {
  color: #1e2022;
  background-color: #f9fafc;
}
.avatar-status-light {
  color: #1e2022;
  background-color: #f9fafc;
}
.avatar-dark .avatar-initials {
  color: #fff;
  background-color: #132144;
}
.avatar-status-dark {
  color: #fff;
  background-color: #132144;
}
.avatar-soft-primary .avatar-initials {
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.1);
}
.avatar-status-soft-primary {
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.1);
}
.avatar-soft-secondary .avatar-initials {
  color: #71869d;
  background-color: rgba(113, 134, 157, 0.1);
}
.avatar-status-soft-secondary {
  color: #71869d;
  background-color: rgba(113, 134, 157, 0.1);
}
.avatar-soft-success .avatar-initials {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, 0.1);
}
.avatar-status-soft-success {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, 0.1);
}
.avatar-soft-info .avatar-initials {
  color: #00c9db;
  background-color: rgba(0, 201, 219, 0.1);
}
.avatar-status-soft-info {
  color: #00c9db;
  background-color: rgba(0, 201, 219, 0.1);
}
.avatar-soft-warning .avatar-initials {
  color: #f5ca99;
  background-color: rgba(245, 202, 153, 0.1);
}
.avatar-status-soft-warning {
  color: #f5ca99;
  background-color: rgba(245, 202, 153, 0.1);
}
.avatar-soft-danger .avatar-initials {
  color: #ed4c78;
  background-color: rgba(237, 76, 120, 0.1);
}
.avatar-status-soft-danger {
  color: #ed4c78;
  background-color: rgba(237, 76, 120, 0.1);
}
.avatar-soft-light .avatar-initials {
  color: #f9fafc;
  background-color: rgba(249, 250, 252, 0.1);
}
.avatar-status-soft-light {
  color: #f9fafc;
  background-color: rgba(249, 250, 252, 0.1);
}
.avatar-soft-dark .avatar-initials {
  color: #132144;
  background-color: rgba(19, 33, 68, 0.1);
}
.avatar-status-soft-dark {
  color: #132144;
  background-color: rgba(19, 33, 68, 0.1);
}
.avatar {
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.3125rem;
}
.avatar:not(img) {
  background-color: #fff;
}
.avatar-img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  border-radius: 0.3125rem;
}
.avatar-initials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.09375rem;
  font-weight: 600;
  pointer-events: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
}
.avatar-centered {
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.avatar-circle {
  border-radius: 50%;
}
.avatar-circle .avatar-img,
.avatar-circle .avatar-initials {
  border-radius: 50%;
}
.avatar-border-lg {
  border: 0.1875rem solid #fff;
}
.avatar-border-dashed {
  border: 0.0625rem dashed #e7eaf3;
}
.avatar-border-dashed .avatar-initials {
  color: #8c98a4;
  background-color: #fff;
  transition: 0.3s;
}
.avatar-border-dashed:hover .avatar-initials {
  color: #377dff;
}
.avatar-group {
  position: relative;
  z-index: 2;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.avatar-group .avatar:hover {
  z-index: 2;
}
.avatar-group .avatar,
.avatar-group .avatar-sm,
.avatar-group .avatar-xs {
  padding: 0.125rem 0.125rem;
}
.avatar-group .avatar-lg,
.avatar-group .avatar-xl,
.avatar-group .avatar-xxl {
  padding: 0.25rem 0.25rem;
}
.avatar-group.avatar-circle .avatar {
  border-radius: 50%;
}
.avatar-group.avatar-circle .avatar .avatar-img,
.avatar-group.avatar-circle .avatar .avatar-initials {
  border-radius: 50%;
}
.avatar-group .avatar {
  width: 2.625rem;
  height: 2.625rem;
}
.avatar-group .avatar .avatar-initials {
  font-size: 1.09375rem;
}
.avatar-group .avatar + .avatar {
  margin-left: -1rem;
}
.avatar-group-xs .avatar {
  width: 1.53125rem;
  height: 1.53125rem;
}
.avatar-group-xs .avatar .avatar-initials {
  font-size: 0.875rem;
}
.avatar-group-xs .avatar + .avatar {
  margin-left: -0.6125rem;
}
.avatar-group-sm .avatar {
  width: 2.1875rem;
  height: 2.1875rem;
}
.avatar-group-sm .avatar .avatar-initials {
  font-size: 0.98438rem;
}
.avatar-group-sm .avatar + .avatar {
  margin-left: -0.875rem;
}
.avatar-group-lg .avatar {
  width: 3.36875rem;
  height: 3.36875rem;
}
.avatar-group-lg .avatar .avatar-initials {
  font-size: 1.53125rem;
}
.avatar-group-lg .avatar + .avatar {
  margin-left: -1.5rem;
}
.avatar-group-xl .avatar {
  width: 4.92188rem;
  height: 4.92188rem;
}
.avatar-group-xl .avatar .avatar-initials {
  font-size: 1.96875rem;
}
.avatar-group-xl .avatar + .avatar {
  margin-left: -1.5rem;
}
.avatar-group-xxl .avatar {
  width: 7.875rem;
  height: 7.875rem;
}
.avatar-group-xxl .avatar .avatar-initials {
  font-size: 2.625rem;
}
.avatar-group-xxl .avatar + .avatar {
  margin-left: -2rem;
}
.avatar.avatar-4by3 {
  width: 3.5rem;
}
.avatar-xss.avatar-4by3 {
  width: 1.33333rem;
}
.avatar-xs.avatar-4by3 {
  width: 2.04167rem;
}
.avatar-sm.avatar-4by3 {
  width: 2.91667rem;
}
.avatar-lg.avatar-4by3 {
  width: 4.49167rem;
}
.avatar-xl.avatar-4by3 {
  width: 6.5625rem;
}
.avatar-xxl.avatar-4by3 {
  width: 10.5rem;
}
.avatar.avatar-circle .avatar-status {
  bottom: -3.5px;
  right: -3.5px;
}
.avatar.avatar-circle .avatar-sm-status {
  bottom: 0;
  right: 0;
}
.avatar.avatar-circle .avatar-lg-status {
  bottom: -4.8px;
  right: -4.8px;
}
.avatar-xss {
  width: 1rem;
  height: 1rem;
}
.avatar-xss .avatar-initials {
  font-size: 0.875rem;
}
.avatar-xs {
  width: 1.53125rem;
  height: 1.53125rem;
}
.avatar-xs .avatar-initials {
  font-size: 0.875rem;
}
.avatar-xs.avatar-circle .avatar-status {
  bottom: -3.5px;
  right: -3.5px;
}
.avatar-xs.avatar-circle .avatar-sm-status {
  bottom: -1.5px;
  right: -1.5px;
}
.avatar-xs.avatar-circle .avatar-lg-status {
  bottom: -4.8px;
  right: -4.8px;
}
.avatar-sm {
  width: 2.1875rem;
  height: 2.1875rem;
}
.avatar-sm .avatar-initials {
  font-size: 0.98438rem;
}
.avatar-sm.avatar-circle .avatar-status {
  bottom: -3.5px;
  right: -3.5px;
}
.avatar-sm.avatar-circle .avatar-sm-status {
  bottom: -1.2px;
  right: -1.2px;
}
.avatar-sm.avatar-circle .avatar-lg-status {
  bottom: -6px;
  right: -6px;
}
.avatar-lg {
  width: 3.36875rem;
  height: 3.36875rem;
}
.avatar-lg .avatar-initials {
  font-size: 1.53125rem;
}
.avatar-lg.avatar-circle .avatar-status {
  bottom: -2.1px;
  right: -2.1px;
}
.avatar-lg.avatar-circle .avatar-sm-status {
  bottom: 1.2px;
  right: 1.2px;
}
.avatar-lg.avatar-circle .avatar-lg-status {
  bottom: -3px;
  right: -3px;
}
.avatar-xl {
  width: 4.92188rem;
  height: 4.92188rem;
}
.avatar-xl .avatar-initials {
  font-size: 1.96875rem;
}
.avatar-xl.avatar-circle .avatar-status {
  bottom: 2.625px;
  right: 2.625px;
}
.avatar-xl.avatar-circle .avatar-sm-status {
  bottom: 3px;
  right: 3px;
}
.avatar-xl.avatar-circle .avatar-lg-status {
  bottom: 2px;
  right: 2px;
}
.avatar-xxl {
  width: 7.875rem;
  height: 7.875rem;
}
.avatar-xxl .avatar-initials {
  font-size: 2.625rem;
}
.avatar-xxl.avatar-circle .avatar-status {
  bottom: 6px;
  right: 6px;
}
.avatar-xxl.avatar-circle .avatar-sm-status {
  bottom: 12px;
  right: 12px;
}
.avatar-xxl.avatar-circle .avatar-lg-status {
  bottom: 6px;
  right: 6px;
}
.avatar-status {
  position: absolute;
  bottom: -8.4px;
  right: -8.4px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  font-weight: 600;
  border: 0.125rem solid #fff;
  width: 21px;
  height: 21px;
  line-height: 1;
  font-size: 0.71094rem;
  border-radius: 50%;
}
.avatar-sm-status {
  bottom: -4.2px;
  right: -4.2px;
  width: 12px;
  height: 12px;
  font-size: 0.4375rem;
}
.avatar-lg-status {
  width: 24px;
  height: 24px;
  font-size: 0.65625rem;
}
.avatar-uploader {
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
  margin-bottom: 0;
}
.avatar-uploader:hover {
  border-color: #377dff;
}
.avatar-uploader-input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 33, 68, 0.25);
  border-radius: 50%;
  transition: 0.2s;
}
.avatar-uploader-trigger {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
}
.avatar-uploader-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #677788;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s;
}
.avatar-uploader:hover .avatar-uploader-icon {
  color: #fff;
  background-color: #377dff;
}
.avatar-lg .avatar-uploader-icon {
  font-size: 0.75rem;
  width: 1.3125rem;
  height: 1.3125rem;
}
.avatar-xl .avatar-uploader-icon {
  font-size: 0.8125rem;
  width: 1.53125rem;
  height: 1.53125rem;
}
.avatar-xxl .avatar-uploader-icon {
  width: 2.1875rem;
  height: 2.1875rem;
}

.step .step-avatar {
  font-size: 1.09375rem;
  font-weight: 600;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.step .step-avatar-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.step .step-avatar::after {
  position: absolute;
  top: 3.09375rem;
  left: 1.3125rem;
  height: calc(100% - 2.15625rem);
  border-left: 0.125rem solid #e7eaf3;
  content: "";
}
.step-avatar-xs .step-avatar,
.step-avatar-xs.step-avatar {
  font-size: 0.875rem;
  width: 1.53125rem;
  height: 1.53125rem;
}
.step-avatar-xs .step-avatar::after,
.step-avatar-xs.step-avatar::after {
  top: 2rem;
  left: 0.70312rem;
  width: 1.0625rem;
  height: calc(100% - 1.0625rem);
}
.step-avatar-xs .step-divider::after {
  left: 0.76562rem;
}
.step-avatar-sm .step-avatar,
.step-avatar-sm.step-avatar {
  font-size: 0.98438rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
.step-avatar-sm .step-avatar::after,
.step-avatar-sm.step-avatar::after {
  top: 2.65625rem;
  left: 1.03125rem;
  width: 1.0625rem;
  height: calc(100% - 1.71875rem);
}
.step-avatar-sm .step-divider::after {
  left: 1.09375rem;
}
.step-avatar-lg .step-avatar,
.step-avatar-lg.step-avatar {
  font-size: 1.53125rem;
  width: 3.36875rem;
  height: 3.36875rem;
}
.step-avatar-lg .step-avatar::after,
.step-avatar-lg.step-avatar::after {
  top: 3.8375rem;
  left: 1.62187rem;
  width: 1.0625rem;
  height: calc(100% - 2.9rem);
}
.step-avatar-lg .step-divider::after {
  left: 1.68437rem;
}

.shadow-soft {
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
}

.card-progress-wrap {
  overflow: hidden;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.card-progress {
  height: 0.25rem;
}
.card-progress:first-child .progress-bar {
  border-top-left-radius: 0.75rem;
}
.card-progress:first-child .progress-bar[aria-valuenow="100"] {
  border-top-right-radius: 0.75rem;
}

.table-progress {
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 5rem;
  height: 0.25rem;
}

.progress-vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #f8fafd;
  width: 0.5rem;
  height: 12.5rem;
}

progress {
  vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0.5rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0.5rem 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 0.5rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.65625rem;
  background-color: #e7eaf3;
  border-radius: 0.3125rem;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #377dff;
  transition: width 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}
.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 0.5rem 0.5rem;
}
.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}
